

#cards{
    width: calc(92% / 3 );
    min-width: 314px;
   
}

.card-conteudo-dark{
    max-width: 100%;
    border: 1px solid #3f3e3e;
    padding: 60px 30px;
    background-color: #393838;
    transition: 0.9s;
    transition-delay: 0.2s;
}

.card-conteudo-light{    
   max-width: 100%;   
    border: 1px solid rgb(233, 232, 232);
    padding: 60px 30px;
    background-color: #f6f8fc;
    transition: 0.9s;
    transition-delay: 0.2s   
   
}

.card-conteudo-dark:hover {

    background-color: #feb633;
    transition: 0.8s;
    transition-delay: 0.1s
}

.card-conteudo-light:hover{
   
    background-color: #feb633;
    transition: 0.8s;
    transition-delay: 0.1s
}

.card-conteudo-light h3{
    margin: 10px 0;
    color: #32333c;
}
.card-conteudo-dark h3 {
    margin: 10px 0;
    color: #cccccc;
}

.card-conteudo-light p{
    margin:10px 0;
    color: #8a8fa3;
}

.card-conteudo-dark p {
    margin: 10px 0;
    color: #9f9f9f;
}

@media (min-width:376px) and (max-width:768px) {
    #cards {
            width: 95%;
            min-width: 314px;
            
        }
       

}